.product-img {
    height: 300px;
    width: 400px;
}

.container {
    margin: 20px;
}

.blogs {
    background-color: antiquewhite;
}

.blog-title {
    font-size: 50px;
    background-color: blueviolet;
}